In [1]:
import pandas as pd

In [3]:
billboard = pd.read_csv('billboard.csv')
billboard.head(5)

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
billboard.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
                 ...
x72nd.week      float64
x73rd.week      float64
x74th.week      float64
x75th.week      float64
x76th.week      float64
Length: 81, dtype: object

In [6]:
billboard['date.peaked'] = pd.to_datetime(billboard['date.peaked'])
billboard['date.entered'] = pd.to_datetime(billboard['date.entered'])
billboard.head(3)

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
billboard.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
                     ...
x72nd.week             float64
x73rd.week             float64
x74th.week             float64
x75th.week             float64
x76th.week             float64
Length: 81, dtype: object

In [9]:
Billboard_melted = pd.melt(billboard, id_vars =['artiste', 'track', 'genre', 'date.entered', 'date.peaked']) 
Billboard_melted

,artiste,track,genre,date.entered,date.peaked,variable,value
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [11]:
Billboard_melted = Billboard_melted.rename(columns ={
    'variable' : 'week',
    'value' : 'rank'
})
Billboard_melted

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [22]:
Billboard_melted['week'] = Billboard_melted['week'].str.extract('(\d+)').astype(int)

Billboard_melted.head(6)

AttributeError: Can only use .str accessor with string values!

In [23]:
Billboard_melted['week'] = Billboard_melted.week.astype(str) 

Billboard_melted.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
week                    object
rank                   float64
dtype: object

In [24]:
Billboard_melted['week'] = Billboard_melted['week'].str.extract('(\d+)').astype(int)

Billboard_melted.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0

In [36]:
Billboard_melted['entered_to_peak'] = Billboard_melted['date.peaked']- Billboard_melted['date.entered']

Billboard_melted.head(10)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days
5,Janet,Doesn't Really Matter,Rock,2000-06-17,2000-08-26,1,59.0,70 days
6,Destiny's Child,Say My Name,Rock,1999-12-25,2000-03-18,1,83.0,84 days
7,"Iglesias, Enrique",Be With You,Latin,2000-04-01,2000-06-24,1,63.0,84 days
8,Sisqo,Incomplete,Rock,2000-06-24,2000-08-12,1,77.0,49 days
9,Lonestar,Amazed,Country,1999-06-05,2000-03-04,1,81.0,273 days

In [37]:
Billboard_melted['entered_to_peak'] = Billboard_melted['entered_to_peak'].dt.days 

Billboard_melted.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70

In [27]:
Billboard_melted.dtypes

artiste                    object
track                      object
genre                      object
date.entered       datetime64[ns]
date.peaked        datetime64[ns]
week                        int32
rank                      float64
entered_to_peak             int64
dtype: object

In [38]:
Billboard_melted

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70
...,...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN,0
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN,0
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN,0
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN,0
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN,0

In [49]:
Billboard_ans = Billboard_melted[['artiste', 'track', 'rank', 'genre']][Billboard_melted['entered_to_peak'] == 35]
Billboard_ans

                artiste                        track  rank genre
3               Madonna                        Music  41.0  Rock
45                 Pink                   There U Go  25.0  Rock
83            Lil' Zane                   Callin' Me  83.0   Rap
111    Houston, Whitney      I Learned From The Best  83.0  Rock
116           Sugar Ray                  Falls Apart  70.0  Rock
...                 ...                          ...   ...   ...
24024       Limp Bizkit               N 2 Gether Now   NaN  Rock
24038         Metallica                  I Disappear   NaN  Rock
24054     Moore, Chante                  Straight Up   NaN  Rock
24055           Cam'ron  What Means The World To You   NaN   Rap
24078           Lil' Mo                        Ta Da   NaN   Rap

[1824 rows x 4 columns]

In [51]:
Billboard_ans[['artiste','track','rank','genre']][Billboard_melted['genre']=='Rock'].sort_values('rank').head(15)

C:\Users\Yaw Asiedu Boakye Jr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      artiste       track  rank genre
1588  Madonna       Music   1.0  Rock
1905  Madonna       Music   1.0  Rock
2222  Madonna       Music   1.0  Rock
2539  Madonna       Music   1.0  Rock
3173  Madonna       Music   2.0  Rock
4124  Madonna       Music   2.0  Rock
3490  Madonna       Music   2.0  Rock
3807  Madonna       Music   2.0  Rock
1271  Madonna       Music   2.0  Rock
2856  Madonna       Music   2.0  Rock
4441  Madonna       Music   4.0  Rock
1947     Pink  There U Go   7.0  Rock
1630     Pink  There U Go   7.0  Rock
4758  Madonna       Music   8.0  Rock
6385     Pink  There U Go   8.0  Rock

In [52]:
# Madonna ranked 1 with the track Music in the genre Rock after peaking 35 days into the competition